<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<form action = "{{ url_for('add') }}" method = "POST">
         <h3>Employee Information</h3>
         EmployeeID<br>
         <input type = "text" name = "EmployeeID" /></br>

         Name<br>
         <input type = "text" name = "name" /><br>

         Role<br>
         <input type = "text" name = "Role" /><br>
         <input type = "submit" value = "submit" /><br>
    </form>
</body>
</html>